@import "tailwindcss";

@theme {
  --color-alabaster: #fafafa;
  --color-santas-gray: #9f9fa8;
  --color-saffron: #f8c630;
  --color-dark-black: #17171c;
  --color-woodsmoke: #0e0e11;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #0e0e11;
  color: white;
}